<div>Žaidimas: {{gameName}}</div>
<div>Kategorjios:</div>
<div *ngFor="let assetType of assetTypes">
  <a>
    {{ assetType.id }} {{ assetType.name }}
  </a>
</div>

<div>Skelbimai:</div>
<div *ngIf="assets && assets.length > 0; else noAssetsFound">
  <div *ngFor="let asset of assets">
    <a routerLink="/assets/{{asset.id}}">
    <div class="my-1 p-1 flex flex-row max-w-fit bg-dark">
      <div class="p-1">Skelbimas:</div>
      <div class="p-1">      <p>ID: {{ asset.id }} </p></div>
      <div class="p-1">  <p>Name: {{ asset.name }} </p></div>
      <div class="p-1">      <p>Description: {{ asset.description }} </p></div>
      <div class="p-1">      <p>Price: {{ asset.price }} </p></div>
      <div class="p-1 flex flex-row">
        <p>Amount:
        </p> <div class="flex flex-col justify-center">
        <ng-container *ngIf="asset.amount != null; else unlimitedAmount">
          {{ asset.amount }}
        </ng-container>
      </div>
      </div>
      <ng-template #unlimitedAmount>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" stroke-width="2">
          <path
            d="M18.984 7.984c-1.125 0-2.203.438-3.094 1.219l-1.875 1.781-1.875-1.781c-.891-.781-1.969-1.219-3.094-1.219s-2.203.438-3.094 1.219c-1.781 1.781-1.781 4.688 0 6.469l1.875 1.781 1.875-1.781c.891-.781 1.969-1.219 3.094-1.219s2.203.438 3.094 1.219l1.875 1.781 1.875-1.781c1.781-1.781 1.781-4.688 0-6.469-.891-.781-1.969-1.219-3.094-1.219z"/>
        </svg>
      </ng-template>
      <div class="p-1">      <p>Seller: {{asset.user.username}} </p></div>
     <!--
      <button class="ml-1 p-1 px-4 border border-border rounded">Pirkti</button>
      <button (click)="initiateTrade(asset.id, asset.price)">Buy</button>
      -->


    </div>
    </a>
  </div>
</div>
<ng-template #noAssetsFound>
  <p>No assets found for this game.</p>
</ng-template>

