
<div *ngIf="!mfaEnabled">
  <div *ngIf="qrCodeImageUri" class="qr-code">
    <img [src]="qrCodeImageUri" alt="QR Code">
  </div>
</div>

<div *ngIf="mfaEnabled">
  <h2>Two-Factor Authentication Enabled</h2>
</div>

<label for="validationCode">Įveskite 2fa kodą</label>
<input type="text" id="validationCode" name="validationCode" required [(ngModel)]="otpCode">

<button type="button" (click)="toggleMfa()" [disabled]="otpCode.length < 6" class="border border-border rounded">
  {{ mfaEnabled ? 'Išjungti 2FA' : 'Įjungti 2FA' }}
</button>

<div *ngIf="message">{{ message }}</div>

