<div class="topbar leading-normal font-sans text-light box-border min-h-[71px] flex items-stretch justify-between transition-all duration-200 border-b border-border bg-dark">
  <div class="top-left border-r border-border p-1 w-240px flex items-center justify-center text-light">ETurgus</div>
  <div class="top-right p-1 flex flex-row items-center justify-center space-x-4 pr-3">
    <div class="notifications rounded">
      <div class="nt-icon"></div>
      <div>Pranešimai</div>
    </div>
    <div class="balance flex flex-row items-center justify-center space-x-1 rounded">
      <div class="wallet"></div>
      <div class="money text-light">111</div>
      <div class="icon text-light">EU</div>
    </div>
    <div class="profile flex flex-row items-center justift-center space-x-2">
      <div class="nickname"><span class="text-light">wwwwr</span></div>
      <div class="avatar">
        <span class="avatar-pic"></span>
      </div>
    </div>
  </div>

</div>
