<div *ngFor="let asset of assets">
  {{ asset.id }} {{ asset.name }}
  <button (click)="deleteAsset(asset.id)">Delete</button>
  <button (click)="openUpdateForm(asset)">Update</button>
</div>

<div *ngIf="isUpdating">
  <div class="modal">
    <form [formGroup]="updateAssetForm" (ngSubmit)="onUpdateSubmit()">
      <input formControlName="name" placeholder="Asset Name">
      <input formControlName="description" placeholder="Description">
      <input type="number" formControlName="price" placeholder="Price">
      <input type="number" formControlName="amount" placeholder="Amount (optional)">
      <!-- Additional fields as necessary -->
      <button type="submit">Update Asset</button>
      <button (click)="closeUpdateForm()">Close</button>
    </form>
  </div>
</div>

<div>
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <select formControlName="gameId">
      <option *ngFor="let game of games" [ngValue]="game.id">{{ game.name }}</option>
    </select>
    <select formControlName="assetTypeId">
      <option *ngFor="let assetType of assetTypes" [ngValue]="assetType.id">{{ assetType.name }}</option>
    </select>
    <input formControlName="name" placeholder="Asset Name">
    <input formControlName="description" placeholder="Description">
    <input type="number" formControlName="price" placeholder="Price">
    <input type="number" formControlName="amount" placeholder="Amount (optional)">
    <button type="submit">Create Asset</button>
  </form>

</div>
