  <div class="mx-10 2xl:mx-40 pt-10">
<header>
  <h1 class="text-4xl">
    Nustatymai
  </h1>
</header>
  <hr class="line max-w-full">
  <div class="flex flex-row justify-between">
    <div>
      <h2>Profilis</h2>
      <hr class="line">
      <div>
        Slaptažodis
        <button  (click)="openChangePasswordDialog()" class="border border-border rounded px-3 py-1 mr-5 self-end">Keisti</button>
      </div>
      <hr class="line">
      <div>
        Dviejų faktorių autentifikacija
        <button (click)="openMfaToggleDialog()" *ngIf="mfaEnabled; else mfaDisabled" class="border border-border rounded px-3 py-1 mr-5">Išjungti</button>
        <ng-template #mfaDisabled >
          <button (click)="openMfaToggleDialog()" class="border border-border rounded px-3 py-1 mr-5">Įjungti</button>
        </ng-template>
      </div>
    </div>

  </div>
</div>
