<div class="sidebar w-240px p-5 pt-5 flex flex-col border-r border-border bg-dark">
  <div class="flex flex-col h-full overflow-y-auto justify-between">
    <nav class="flex flex-col">
      <div class="transition-colors duration-300">
        <a href="#" class="no-underline font-sans block p-2.5 rounded">Žinutės</a>
      </div>
      <div class="line"></div>
      <div class="transition-colors duration-300">
        <a href="#" class="no-underline font-sans block p-2.5 rounded">Mano prekės</a>
      </div>
      <div class="transition-colors duration-300">
        <a href="#" class="no-underline font-sans block p-2.5 rounded">Pirkimai</a>
      </div>
      <div class="transition-colors duration-300">
        <a href="#" class="no-underline font-sans block p-2.5 rounded">Pardavimai</a>
      </div>
      <div class="transition-colors duration-300">
        <a href="#" class="no-underline font-sans block p-2.5 rounded">Katalogas</a>
      </div>
      <div class="transition-colors duration-300">
        <a href="#" class="no-underline font-sans block p-2.5 rounded">Naujienos</a>
      </div>
    </nav>
    <div class="footer max-h-max">
      <div class="line"></div>
      <div class=" inline-block h-max">
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
      </div>
      <div>
        <span style="color: rgb(120, 124, 150);">&#169; 2023</span>
      </div>
    </div>


  </div>

</div>

