/* Style for scrollbar handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--text); /* or any color of your choice */
  border-radius: 10px; /* optional, for rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* color when hovering over the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}
.line {
  color: var(--light);
  border-top: 1px solid var(--gray);
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 1rem;
  margin-right:1rem;
}
