<div class="mx-10 2xl:mx-40 pt-10">
  <header class="flex flex-row items-center justify-between">
    <div>
      <h1 class="text-3xl">
        Piniginė
      </h1>
    </div>
    <div class="flex flex-row pb-1">
      <div class="pr-3">
        <button class="px-4 py-2 text-light rounded bg-red hover:bg-green" (click)="openDepositDialog()">Papildyti balansą</button>
      </div>
      <div>
        <button class="px-4 py-2 text-light rounded bg-red hover:bg-green" (click)="openWithdrawDialog()">Išvesti balansą</button>
      </div>
    </div>
  </header>

  <table class="table-auto w-full" *ngIf="userData">
    <thead class="bg-darklight h-10 rounded">
    <tr class="bg-gray-200 text-xl text-left">
      <th class="text-light">Tipas</th>
      <th class="text-light">Suma</th>
      <th class="text-light">Statusas</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of userData.transactions" class="w-full">
      <td class="p-2">
        <ng-container *ngIf="transaction.type === 'PAYMENT'; else item">
          MOKĖJIMAS
        </ng-container>
        <ng-template #item>
          IŠMOKĖJIMAS
        </ng-template>
      </td>
      <td class="p-2">{{ transaction.amount }}</td>
      <td class="p-2">
        <span *ngIf="transaction.status === 'COMPLETED'" class="text-green">ĮVYKDYTAS</span>
        <span *ngIf="transaction.status === 'CANCELED'" class="text-red">ATŠAUKTAS</span>
        <span *ngIf="transaction.status === 'PENDING'">PROCESE</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
