<mat-dialog-content>
  <!-- your-component.component.html -->
  <div class="plaid-link-container">
    <button (click)="initializePlaid()" id="link-account-button" class="btn btn-primary">
      Link Bank Account
    </button>
  </div>
  <div>
    <p>Pinigų išmokėjimo metodai:</p>
    <div>Sąrašas</div>
    <div>
      <p>Suma</p>
      <input>
    </div>



    <!-- Form for payment method -->

      <mat-dialog-actions>
        <button type="submit">Išvesti</button>
      </mat-dialog-actions>

  </div>
</mat-dialog-content>
