<div class="topbar font-sans text-light box-border w-full min-h-[71px] flex items-stretch
 justify-between duration-200 border-b border-border bg-dark fixed top-0 left-0 right-0 z-10">
  <div class="top-left border-r border-border p-1 w-240px flex items-center justify-center text-light">
    <a routerLink="/">ETurgus</a>
  </div>
  <div class="top-right p-1 flex flex-row items-center justify-center space-x-4 pr-3 ">
    <div class="notifications rounded" *ngIf="authService.isAuthenticatedObservable | async">
      <div class="nt-icon"></div>
      <div>Pranešimai</div>
    </div>
    <div class="balance flex flex-row items-center justify-center space-x-1 rounded" *ngIf="authService.isAuthenticatedObservable | async">
      <div class="wallet"></div>
      <div class="money text-light">111</div>
      <div class="icon text-light">EU</div>
    </div>

    <div *ngIf ="!(authService.isAuthenticatedObservable | async)">
      <a routerLink="login">Prisijungti</a>
    </div>

    <div class="profile relative" *ngIf="authService.isAuthenticatedObservable | async">
      <!-- Dropdown Trigger -->
      <div (click)="toggleDropdown()" id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
           class="flex flex-row items-center justify-center space-x-2 cursor-pointer text-white
           bg-blue-700 hover:bg-blue-800 focus:ring-4 px-8 ">
        <div class="nickname"><span class="text-light">wwwwr</span></div>
        <div class="avatar">
          <span class="avatar-pic"></span>
        </div>
      </div>

      <!-- Dropdown Menu -->
      <div [class.hidden]="!dropdownOpen"
           class="dropdown-menu w-full max-w-screen absolute border border-border bg-dark rounded overflow-auto"
           (click)="toggleDropdown()">
        <nav class="flex flex-col break-words">
          <a routerLink="profile" class="dropdown-profile flex flex-row items-center hover:bg-border p-2">
            <div class="avatar flex-shrink-0">
              <span class="avatar-pic"></span>
            </div>
            <div class=" flex flex-col w-full text-sm">
              <span class="nickname text-light break-all">wwwwwr</span>
              <span>Mano profilis</span>
            </div>
          </a>
          <div class="line border-t border-border my-1 mx-3"></div>
          <a routerLink="profile/settings" class="hover:bg-border px-2">
            <p class="ml-3 my-1.5">Nustatymai</p>
          </a>
          <div class="line border-t border-border my-1 mx-3"></div>
          <a class="hover:bg-border px-2">
            <button class="ml-3 my-1.5" (click)="onLogout()">Atsijungti</button>
          </a>
        </nav>
      </div>

    </div>


  </div>

</div>
