<div class="sidebar w-240px p-5 pt-5 flex flex-col border-r border-border bg-dark h-screen fixed top-[71px] left-0 z-10">
  <div class="flex flex-col h-full overflow-y-auto justify-between">
    <nav class="flex flex-col">
      <div class="transition-colors duration-300">
        <a routerLink="register" *ngIf ="!(authService.isAuthenticatedObservable | async)" class="no-underline font-sans block p-2.5 rounded">
          Kad naudotis pilnu sistemos funkcionalu - prisijunk!
        </a>
      </div>
      <div class="transition-colors duration-300">
        <a routerLink="messages" class="no-underline font-sans block p-2.5 rounded" >Žinutės</a>
      </div>
      <hr class="line">
      <div class="transition-colors duration-300">
        <a routerLink="assets" class="no-underline font-sans block p-2.5 rounded ">
          Mano prekės
        </a>
      </div>
      <div class="transition-colors duration-300">
        <a routerLink="orders/purchases" class="no-underline font-sans block p-2.5 rounded ">Pirkimai</a>
      </div>
      <div class="transition-colors duration-300">
        <a routerLink="orders/sales" class="no-underline font-sans block p-2.5 rounded" >Pardavimai</a>
      </div>
      <div class="transition-colors duration-300">
        <a routerLink="catalog" class="no-underline font-sans block p-2.5 rounded">Katalogas</a>
      </div>
    </nav>
    <footer class="footer max-h-max">
      <hr class="line">
      <div class=" inline-block h-max">
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
        <a href="/support" class="sc-1z01cc5-2 cetVnB">Pagalba</a>
      </div>
      <div>
        <span style="color: rgb(120, 124, 150);">&#169; 2023</span>
      </div>
    </footer>


  </div>

</div>

