<mat-dialog-actions class="mt-4 mtdat !min-h-0 !border-0 !p-0 !justify-end">
  <button mat-button [mat-dialog-close]="true" class="">X</button>
</mat-dialog-actions>
<mat-dialog-content class="">
  <form (ngSubmit)="changePassword()" class="">
    <div class="form-group mb-4">
      <label for="currentPassword" class="block text-sm font-medium mb-2">Dabartinis slaptažodis</label>
      <input type="password" class="w-full form-control rounded bg-field border border-border" id="currentPassword" [(ngModel)]="changePasswordRequest.currentPassword" name="currentPassword" required>
    </div>

    <div class="form-group mb-4">
      <label for="newPassword" class="block text-sm font-medium mb-2">Naujas slaptažodis</label>
      <input type="password" class="w-full form-control rounded bg-field border border-border" id="newPassword" [(ngModel)]="changePasswordRequest.newPassword" name="newPassword" required>
    </div>

    <div class="form-group mb-4">
      <label for="confirmationPassword" class="block text-sm font-medium mb-2">Patvirtinkite naują slaptažodį</label>
      <input type="password" class="w-full form-control rounded bg-field border border-border" id="confirmationPassword" [(ngModel)]="changePasswordRequest.confirmationPassword" name="confirmationPassword" required>
    </div>
  </form>
  <mat-dialog-actions class="flex justify-end mt-4">
    <button mat-button [mat-dialog-close]="true" class="border border-border rounded px-0.5 py-1 mr-5">Atšaukti</button>
    <button mat-button type="submit" (click)="changePassword()" class="border border-border rounded px-0.5 py-1">Keisti</button>
  </mat-dialog-actions>
</mat-dialog-content>
